.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  position: relative;
  width: 50%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.container:hover .image {
  opacity: 0.3;
}

.container:hover .middle {
  opacity: 1;
}

/*  HOME/SHOWALL PAGE STYLES  */

.ft-playlist-imgs {
  width: 250px;
  height: 250px;
  border-radius: 10px;
  /* background-color: #61dafb; */
}

.featured-playlists {
  margin: 50px 30px;
}


/* .each-playlist {
  border: solid 1px black;
  margin: 0px 0px;
} */

/*  DETAILS PAGE STYLES  */

.tracks-list {
    margin: 30px 50px;
}

.tracks-list td {
  padding-top: 20px;
}

/* .album-td {
  width: 50px;
} */

.playlist-details {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 30px 60px;
}

.playlist-details img {
  width: 25vw;
  border-radius: 10px;
}

.playlist-details div {
  margin-right: 30px;
}

.details-table {
  margin: 10px 20px;
}


.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;  
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: #4CAF50;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}